* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid rgb(255, 170, 170); */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    min-height: 100vh;
}

main > h1 {
    letter-spacing: 2px;
    font-size: 40px;
    color: rgb(59, 59, 59);
    margin: 80px 0 20px;
}

main > h3 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(104, 132, 160);
    margin-bottom: 60px;
    padding: 0 30px;
    text-align: center;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 50px 60px 50px;
}

.box > .image {
    height: 350px;
    max-width: 40rem;
    background-image: url("./hero-bcg.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.box > .tabs {
    max-width: 40rem;
    /* background-color: white; */
}

.box > .tabs > .tabs-top {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.box > .tabs > .tabs-top > .sub-tab {
    background-color: rgb(191, 210, 228);
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(59, 59, 59);
    font-weight: 500;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.box > .tabs > .tabs-top > .sub-tab.open-tab-top {
    background-color: white;
}

.box > .tabs > .tabs-top > .sub-tab:first-of-type {
    border-radius: 10px 0 0 0;
}

.box > .tabs > .tabs-top > .sub-tab:last-of-type {
    border-radius: 0 10px 0 0;
}

.box > .tabs > .tabs-bottom > .sub-tab-bot {
    padding: 20px 40px 40px 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;

    display: none;
}

.box > .tabs > .tabs-bottom > .sub-tab-bot.open-tab-bottom {
    display: block;
}

.box > .tabs > .tabs-bottom > .sub-tab-bot > h2 {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: rgb(73, 73, 73);
}

.box > .tabs > .tabs-bottom > .sub-tab-bot > p {
    line-height: 25px;
    color: rgb(80, 101, 121);
}

@media (max-width: 1000px) {
    .box {
        grid-template-columns: 1fr;
    }
}
